.title {
  text-align: center;
  margin: 200px;
}

.main {
  margin: 200px;
}

.zigazou {
  height: 200px;
  width: auto;
  border-radius: 100px;
}

h1 {
  font-size: 60px;
  color: blue;
  margin: 50px;
}

h2 {
  color: blue;
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.contact {
  font-size: 26px;
  font-weight: bold;
}

#editorDiscription {
  display: none;
}

#languagesDiscription {
  display: none;
}

#osDiscription {
  display: none;
}

#browserDiscription {
  display: none;
}

#cryptocurrencyDiscription {
  display: none;
}

#pcDiscription {
  display: none;
}

#musicDiscription {
  display: none;
}

@media(max-width:1000px) {
.container {
  text-align: center;
}

.title {
  margin: 150px;
}

.main {
  margin: 150px;
}

}

@media(max-width:670px) {
.container {
  text-align: center;
}

.title {
  margin: 0px;
}

.main {
  margin: 50px;
}

.contact {
  font-size: 20px;
  font-weight: bold;
}
}
